.header {
  position: fixed;
  width: 100%;
  background-color: white;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 94%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .imagem {
  width: 80px;
  height: 80px;
}

.header .container .imagem img {
  width: 100%;
}

.header .container .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .menus .menuDesk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .menus .menuDesk .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 70px;
  font-weight: 600;
  font-size: 1rem;
}

.header .container .menus .menuDesk .items .item {
  margin-left: 50px;
}

.header .container .menus .menuDesk .items .item a {
  color: #424242;
}

.header .container .menus .menuDesk .vagasBtn {
  height: 50px;
  background-color: #ea1d2c;
  border: none;
  border-radius: 50px;
  margin-right: 20px;
  width: 180px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
}

.header .container .menus .menuDesk .vagasBtn:hover {
  opacity: 0.7;
}

.header .container .menus .menuDesk .vagasBtn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.header .container .menus .menuDesk .select-language {
  border: none;
  padding: 10px;
  background-color: white;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .header .container .menus .menuToggle {
    width: 30px;
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .header .container .menus .menuToggle .one, .header .container .menus .menuToggle .two, .header .container .menus .menuToggle .tree {
    height: 4px;
    width: 100%;
    background-color: #ea1d2c;
    margin-bottom: 5px;
  }
  .header .container .menus .menuDesk {
    display: block;
    position: absolute;
    top: 70px;
    left: -100vw;
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header .container .menus .menuDesk .items {
    text-align: left;
    display: block;
    margin-left: 25px;
    width: 100%;
    margin-top: 20px;
  }
  .header .container .menus .menuDesk .items .item {
    margin-bottom: 25px;
    margin-left: 0;
  }
  .header .container .menus .menuDesk .vagas {
    display: block;
    margin-left: 25px;
    margin-bottom: 20px;
  }
  .header .container .menus .menuDesk .select-language {
    margin-left: 25px;
    font-size: 1rem;
  }
  .header .container .menus .on {
    left: 0;
  }
}
/*# sourceMappingURL=nav.css.map */